@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-body-background: var(--color-primitive-blue5);
  --color-white: var(--color-primitive-white);
  --color-theme-primary: var(--color-primitive-blue1);
  --color-theme-secondary: var(--color-primitive-blue-dark);
  --color-borders-separator: var(--color-primitive-blue3);
  --color-border-separator-dark: var(--color-primitive-blue2);
  --color-blue-background-1: var(--color-primitive-blue4);
  --color-blue-background-2: var(--color-primitive-blue5);
  --color-body-primary: var(--color-primitive-body1);
  --color-body2: var(--color-primitive-body_2);
  --color-body-secondary: var(--color-primitive-body2);
  --color-placeholder: var(--color-primitive-body3);
  --color-title: var(--color-primitive-blue-dark);
  --color-success: var(--color-primitive-green1);
  --color-success-light: var(--color-primitive-green2);
  --color-warning: var(--color-primitive-other-orange1);
  --color-warning-light: var(--color-primitive-other-orange2);
  --color-error: var(--color-primitive-other-red1);
  --color-error-light: var(--color-primitive-other-red2);
  --color-notification: var(--color-primitive-other-blue1);
  --color-notification-light: var(--color-primitive-other-blue2);
  --color-disable-background: var(--color-primitive-body5);
  --color-disable-border-separator: var(--color-primitive-body4);
  --color-transparent: var(--color-primitive-transparent);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
